@charset "utf-8";

body{ background-color:#F9F9F9;}
div#wrapper{ width:900px; overflow:hidden; margin:0px auto; background:#fff;}

/*===================   HEADER  ======================*/

header#h-main {width:900px; margin:0px auto; }
    section#top {width:100%; background-color:#00387D; padding:11px 0px; overflow:hidden;}
        section#top div {width:100%; margin:0px auto; overflow:hidden;}
            section#top div ul.sociales{ float:left; margin-left: 30px;}
                section#top div ul.sociales li{ float:left; position:relative; text-transform: uppercase; color: #555; cursor: help; font-size: 11px; margin: 0px 10px 0px 0px; text-align: center; }

            section#top div ul.idiomas{ float:right;  margin-right:22px;}
                section#top div ul.idiomas li{ float:left; margin-right:10px; position:relative; text-transform: uppercase; color: #555; cursor: help; font-size: 11px;}
/* -------- Tooltip -----------*/
section#top div ul.sociales li .tooltip {
  background: #1496bb;
  bottom: 16px;
  color: #fff;
  display: inline-block;
  left: 24px;
  opacity: 0;
  padding: 4px 10px;
  pointer-events: none;
  position: absolute;
  width: auto;
  z-index:1000;
  -webkit-transform: translateX(-10px);
     -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
       -o-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

section#top div ul.idiomas li .tooltip {
  background: #1496bb;
  bottom: 16px;
  color: #fff;
  display: inline-block;
  left: -50px;
  opacity: 0;
  padding: 4px 10px;
  pointer-events: none;
  position: absolute;
  width: auto;
  z-index:1000;
  -webkit-transform: translateX(10px);
     -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
       -o-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


section#top div ul.sociales li:hover .tooltip, section#top div ul.idiomas li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
       -o-transform: translateX(0px);
          transform: translateX(0px);
}

/* IE can just show/hide with no transition */
.lte8 section#top div ul.sociales li .tooltip, .lte8 section#top div ul.idiomas li .tooltip {
  display: none;
}

.lte8 section#top div ul.sociales li:hover .tooltip, .lte8 section#top div ul.idiomas li:hover .tooltip {
  display: block;
}

/* ---- end tooltip -----------*/

    section#middle { height:105px; margin:0px auto; background-image:url(../img/logo.png); background-repeat:no-repeat; background-position:38px center;}
    section#middle .login li, section#middle .account li{float:left; display:inline-block; padding:0px 6px;}
    section#middle .login li a, section#middle .login li{ font-size:.9em;}
    section#middle .login li{border-left:solid 1px #C4C4C4; margin-bottom:14px;}
    section#middle .login li:first-child{border-left:none;}

    section#middle .mini-menu{width:370px; overflow:hidden; float:right;margin: 30px 0px;}
    section#middle .mini-menuESP{width:412px; overflow:hidden; float:right;margin: 30px 0px;}
    section#middle .mini-menu a.why{display:block; width:50px; height:30px; background-color:#7D7D7D; color:#fff; float:right; margin-left: 20px; text-align: center;padding: 6px 0px;
    -moz-border-radius-bottomleft:8px;-ms-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px; border-bottom-left-radius:8px;
    -moz-border-radius-topleft:8px;-ms-border-radius-topleft:8px;-webkit-border-top-left-radius:8px; border-top-left-radius:8px; cursor:pointer;
    }
     section#middle .mini-menuESP a.why{display:block; width:100px; height:30px; background-color:#7D7D7D; color:#fff; float:right; margin-left: 20px; text-align: center;padding: 6px 0px;
    -moz-border-radius-bottomleft:8px;-ms-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px; border-bottom-left-radius:8px;
    -moz-border-radius-topleft:8px;-ms-border-radius-topleft:8px;-webkit-border-top-left-radius:8px; border-top-left-radius:8px; cursor:pointer;
    }
    
    nav#menu-top ul.main-sect li a.page-on{ background-image: url(../img/menu-active.png);background-repeat: no-repeat;background-position: center bottom;background-color: #114F82; font-size:14px;}

    section#middle .mini-menu ul{float:right;}
    section#middle .mini-menuESP ul{float:right;}

    nav#menu-top {width:100%;}
        nav#menu-top ul.main-sect{ width:900px; margin:0px auto;}
            nav#menu-top ul.main-sect > li{ float:left; position:relative; }
            nav#menu-top ul.main-sect > li:first-child{display:block; height:52px; width:88px;background-color:#216BA8;}
            nav#menu-top ul.main-sect > li:last-child{display:block; height:52px; width:162px;background-color:#216BA8;}
                nav#menu-top ul.main-sect > li > a{ display:table-cell; width:118px; text-transform:uppercase; color:#DCE7F0; font-size:14px; font-weight:bolder; text-align:center; background-color:#216BA8; vertical-align: middle; height:52px; padding:0px 6px;}
                nav#menu-top ul.main-sect li > a:hover{ background-color:#114F82; }

                nav#menu-top ul.main-sect li:hover ul{opacity:1;visibility:visible;}

                nav#menu-top ul.main-sect ul{  width:220px;position:absolute; z-index:100;top: 52px;left:0px;
                opacity:0;
                transition:.4s;
                -webkit-transition:.4s;
                -moz-transition:.4s;
                -o-transition:.4s;
                visibility:hidden;
                }
                nav#menu-top ul.main-sect ul li a{ display:block; color:#fff; width:212px; background-color:#114F81; padding:14px 14px; border-bottom:solid 1px #3E6A8F; text-transform:capitalize; text-align:left; background-image:none; text-transform: uppercase; font-size: 12px; font-weight: bolder;} 
                nav#menu-top ul.main-sect ul li a:hover{background-color:#093E82;}

    section#banner{width:900px; height:290px; margin:76px auto 0px auto;}

    

/* Carrusel banner-main */

#banner-main { width:722px; margin: 20px auto 0px auto; text-align:center;  }

#banner-main .viewport { width: 722px; height: 231px; float: left; overflow: hidden; position: relative; margin-bottom: 16px;}

#banner-main .bullets { width:130px; margin:0px auto; overflow:hidden; list-style: none; clear: both; }
#banner-main .bullets li {float: left; margin-left:8px; }

#banner-main .bullet { background-color: #fff; display: block; width:11px; height:11px; background:url(../img/dot.png); }
#banner-main .bullet.active { background:url(../img/dot.png); background-position:bottom; width:11px; height:11px;}

#banner-main .overview { list-style: none; position: absolute; width: 240px; left: 0; top: 0;}
#banner-main .overview li { float: left; margin: 0px;  height: 231px; width: 722px; }


/********** Header Forget ************/

#middle-forget{width: 900px; height: 64px; margin: 16px auto; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: 88px 0px; background-size: contain;}
#forget-content{width: 722px; min-height: 264px; margin: 0px auto;}
#forget-content h1{ font-size:20px; font-weight:lighter; margin:30px 0px 20px 0px;}
#forget-box {width:682px; padding:20px; margin:0px auto; background-color:#F5F5F5; border-top: solid 3px #6091BA;}
#forget-box li{ margin-bottom:8px;}
#forget-box li input[type=email]{width:366px; height:30px;border:solid 1px #CCC; padding:0px 1em; }
#forget-box li input[type=submit]{width:116px; height:32px; background-color:#6091BA; border:0px; cursor:pointer; color:#fff;margin-left:16px;}


/*===================   ASIDE  ===================*/
    div#content aside#lateral{ width:260px; height:auto; background-color:#F5F5F5;float: left; margin:0px 18px 0px 30px;}
        div#content aside#lateral section{ width:96%; margin:0px 0px 16px 0px;}
            div#content aside#lateral section h4{ font-size:1.3em; display:inline-block; padding:16px 10px 16px 8px; border-top:solid 3px #6091BA; color:#7B7B7B; font-weight:normal;}
            aside#lateral input[type=text] { width:166px; height:30px; margin-left:10px; border:solid 1px #CCC; padding:0px 1em; }
            aside#lateral input[type=email] { width:166px; height:30px; margin-left:10px; border:solid 1px #CCC; padding:0px 1em; }
            aside#lateral input[type=submit] {width:32px; height:32px; background-color:#6091BA; border:0px; background-repeat: no-repeat; background-position:center center; cursor:pointer;}
            aside#lateral .fsearch{background-image:url(../img/search.png);}
            aside#lateral .fmail{background-image:url(../img/mail.png);}

    .cursor-link{ cursor:pointer;}
    .news{ margin:0px 0px 18px 10px; padding-bottom:12px; border-bottom:solid 1px #E8E8E8;}
    aside#lateral .news aside{float:left;/* min-height:100px; */ margin-right: 14px;}
    aside#lateral .news aside header{ display:block; width:40px; text-transform:uppercase; color:#fff; text-align:center; background-color:#6091BA; padding:4px 0px;}
    aside#lateral .news aside div{ display:block; width:40px; text-align:center; background-color:#FFF; padding:10px 0px;}
    aside#lateral a.allnews{ margin-left:10px;color:#6091BA;}


/*===================   CONTENIDO  ===================*/

div#content{ width:900px; min-height:480px; margin:0px auto; }

div#content #main-content{ float:left; overflow:hidden; width:590px;min-height: 520px; position: relative;}
div#content #main-content nav { display:block;  overflow:hidden; }
div#content #main-content nav ul li{   height:54px; background-color:#E9E9E9; float:left; padding:0px 11px 0px 0px; margin-right:10px;}
div#content #main-content nav ul li a{ display:inline-block; text-transform:uppercase; color:#7B7B7B; border-top: solid 3px #6091BA; padding:16px 17px 0px 16px;cursor: default;}

.aliados{padding-bottom: 114px;}
.noaliados{ padding-bottom:10px;}

    div#content #main-content .grey-box{ background-color:#444444; color:#fff; margin-top:10px; padding:20px 30px; width:500px;}

    .grey-box h2{font-size:16px; text-transform:uppercase; text-align:left; padding:10px 0px; font-weight:normal;}
    .grey-box h3{font-size:14px; text-transform:uppercase; text-align:left; margin-bottom:0px; font-weight:normal;}
    .grey-box h5{font-size:16px; text-transform:uppercase; text-align:center; margin-bottom:6px; font-weight:normal;}

    .grey-box p{margin:10px 0px;font-size: 13px;line-height: 16px;}

    .grey-box ul.lists{margin:10px 0px;font-size: 12px;line-height: 16px;}
    .grey-box ul.lists li{ list-style: disc; margin-left:30px;}

    .grey-box ol.num-lists{margin:20px 0px;font-size: 13px;line-height: 16px;}
    .grey-box ol.num-lists li{ list-style: decimal; margin:0px 0px 8px 20px;}

    .grey-box input[type="radio"]{margin: 0px 4px 0px 0px; height: 14px;}
    .grey-box input[type="text"]{background-color:#F5F5F5; border:none; color:#666; font-size:1em; width:196px; margin-bottom:10px; padding:8px 12px;}
    .grey-box input[type="submit"]{ width:106px; height:42px; background-image:url(../img/next-form.png); border:none; font-weight:bolder; display:block;  cursor:pointer; margin-top:16px; background-size:contain;}

    .grey-box form .BestRate {width:388px; margin:28px auto; overflow:hidden;}
    .grey-box form .BestRate li{  float:left; text-transform:uppercase; font-size:14px; width:33%;margin-bottom:20px;}

    .grey-box form .MethodShipment select{background-color:#F5F5F5; border:none; color:#666; font-size:1em; width:220px; margin-bottom: 10px; padding:8px 12px;}
    .grey-box form .MethodShipment, .grey-box form .BestRate{overflow: hidden;}
    .grey-box form .MethodShipment li{ float:left;}
    .grey-box form .MethodShipment li:first-child{margin-right:46px;}

div#content .logos{ margin:40px auto 20px auto; text-align:center;}

/* Carrusel banner-main */

#logos { width:560px; margin: 0px auto 0px auto; text-align:center; position: absolute;bottom: 0px;}
#logos .viewport { width: 560px; height: 87px; float: left; overflow: hidden; position: relative; margin-bottom: 16px;}


#logos .overview { list-style: none; position: absolute; width: 240px; left: 0; top: 0;}
#logos .overview li { float: left; margin: 0px;  height: 87px; width: 560px; }
#logos .overview li a{ display:block; float:left;}


    div#content #main-content .white-box-small{ background-color:#fff; color:#444; padding:20px 24px 0px 24px; width:500px; overflow: hidden;
    border-top-left-radius:10px; -moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px;
    /* -moz-border-radius-:10px;-ms-border-radius-:10px;-webkit-border-radius:10px; border-radius:10px;border-radius:10px; */
    border-left:solid 4px #6091BA; border-top: solid 2px #6091BA;
    }
            .white-box-small h2, #main-content-full h1{font-size:20px; text-transform:uppercase; text-align:left; padding:6px 0px; font-weight:normal; margin-bottom:30px; display:block; border-bottom:solid 1px #AFACAC;}
            .white-box-small h3{font-size:14px; text-transform:uppercase; text-align:left; margin-bottom:10px; font-weight:normal;}
            .white-box-small p{ text-align: justify; font-size:13px; line-height:16px;}

            .white-box-small img{ margin-bottom:18px; width:100%;}


#main-content .banner-content{ display:block; margin-top:32px;}

/* -----FULL [NO ASIDE] ------  */ 

div#content #main-content-full{ overflow:hidden; width:722px; min-height:470px; position: relative; margin:0px auto;}

    article.big-news{ width: 718px; border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-right-radius:10px;
        border-right:solid 4px #6091BA; border-bottom:solid 1px #6091BA; padding-bottom: 30px; overflow:hidden; margin:30px 0px;}
    article.big-news aside{ width: 156px; float:left;}
    article.big-news section{ width:518px; float:left; margin-left:30px;}
    article.big-news section a{ display:table-cell; background-color:#418BCA; width: 86px; border: solid #397EB7 1px; color: #fff; text-align: center; background-image:url(../img/more.png); background-repeat:no-repeat; background-position:84px 6px; vertical-align:middle; height:24px; font-size: 13px; padding-right: 10px;}
    article.big-news section a span{ font-weight:bolder;}
    article.big-news section p{ line-height:1.5em;}
    article.big-news section h2{ font-size:16px; font-weight:normal; color:#418BCA;}
    article.big-news section h6{ font-size:14px; font-weight:normal; margin:12px 0px; }

    nav.paginador{ width:224px; margin:0px auto;}
    nav.paginador ul li{ float:left;}
    nav.paginador ul li a{ display:table-cell; vertical-align:middle; text-align:center; width:30px; height:30px; border:solid 1px #D8D9DA; color:#418BCA;}
    nav.paginador ul li.select a{ background-color:#418BCA; border-color:#418BCA; color:#fff;}
    /*nav.paginador ul li:nth-child(2) a{background-color:#418BCA; border-color:#418BCA; color:#fff;}*/

    section.tracking-box{ width: 94%;
    height: auto;
    padding: 20px 3% 30px 3%;
    overflow: hidden;
    background-color: #F5F5F5;}

    section.tracking-box table.track-logs{ width:100%; text-align:left; text-transform:uppercase; font-size:13px; margin:36px 0px;}
    section.tracking-box table.track-logs thead{border-bottom:solid 2px #A7C3DB;}
    section.tracking-box table.track-logs thead tr th{ color:#356184; }
    table.track-logs th, table.track-logs td{border:solid 1px #DEDEDE; padding:.8em .4em;}

    .tracking-box .track-item { width:80%; margin-top:30px;}
    .tracking-box .track-item tr td{ margin:0px 0px; width:45%; font-size:13px; vertical-align:top; padding-bottom:18px;}
    .tracking-box .track-item tr td:first-child{color:#000;}
    .tracking-box .track-item tr td ul li{ margin-bottom:13px;}

    .tracking-box h2{ font-size:18px; margin-bottom: 28px; display:inline-block; padding-right:32px; height:21px; background-repeat:no-repeat; background-position:right center;}
    .tracking-box .air{ background-image:url(../img/air-track.png);}
    .tracking-box .sea{ background-image:url(../img/sea-track.png);}

    .tracking-box h3{ font-size:13px; margin-bottom:12px; }

    section.tracking-box table.track-logs tbody tr:nth-child(odd){ background-color:#F5F9FC;}

    .tracking-box .print{ display:block; color:#fff; width:58px; vertical-align:middle; background-color:#6091BA; border:solid 1px #B0C6DB; background-image:url(../img/print-icon.png); background-repeat:no-repeat; background-position:54px 10px; padding:10px 10px 10px 16px; float:right;}
/*===================   FOOTER  ======================*/

footer#f-main{ width:100%; background-color:#454545; float:left;margin-top: 30px;}
    nav#menu-bottom{  width:900px; height:380px; background-color:#454545; margin:0px auto;}

    nav#menu-bottom section{ float:left; padding:0px 12px; margin: 0px 17px; }
    nav#menu-bottom section:nth-child(1),nav#menu-bottom section:nth-child(2){width:184px;}
    nav#menu-bottom section:nth-child(3),nav#menu-bottom section:nth-child(4){width:150px;}

        nav#menu-bottom section h3{ color:#fff; font-size:1.3em; margin:40px 0px 26px 0px; font-weight:normal;}
        nav#menu-bottom section ul li{ margin-bottom:14px; }
        nav#menu-bottom section ul li a{ color:#fff;font-size:.9em; }


    section#copyright{  width:92%; background-color:#2B2B2B; padding:20px 4% 30px 4%; color:#DCDCDC;}
    section#copyright ul li{ float:left; font-size:11px;} /* section#copyright ul li:last-child{ float:right;} */


/*===================   Boxs  ======================*/

div.darkbox-cont{ width:100%; height:100%; background-image:url(../img/back-black-box.png); position:fixed; top:0px; left:0px; z-index:500; display:none;}

/* -------- LIVE CHAT -------*/

    div.LiveChat-box{ width:144px; height:128px; background-image:url(../img/livechat.png); position:fixed; right:8px; bottom:14px; cursor:pointer; z-index:500;}
    div.LiveChat-boxEsp{ width:166px; height:128px; background-image:url(../img/livechatESP.png); position:fixed; right:8px; bottom:14px; cursor:pointer; z-index:500;}
/* -------- CALCULATOR BANNER -------*/

    div.Calculator-Banner{ width:169px; height:125px; background-image:url(../img/banner-calc.png); position:fixed; left:0px; top:244px; cursor:pointer; z-index:500;}
    div.Calculator-BannerEsp{ width:169px; height:125px; background-image:url(../img/banner-calcESP.png); position:fixed; left:0px; top:244px; cursor:pointer; z-index:500;}


/*-----------LOGIN-----------*/
    div.darkbox-cont .login-box{ width:440px; height:240px; background:#fff; margin:100px auto 50px auto; padding:30px;
    -moz-border-radius-:10px;-ms-border-radius-:10px;-webkit-border-radius:10px; border-radius:10px;border-radius:10px;
    box-shadow: 6px 5px 15px #000000; border-left:solid 4px #6091BA; border-top: solid 4px #6091BA; display: none;
    }
        div.darkbox-cont .login-box h2{ text-align:center; font-size:18px;}
        div.darkbox-cont .login-box ul{ margin:24px auto 14px auto; overflow:hidden;}

        div.darkbox-cont .login-box label{padding:13px 0px; display:block; width:66px; float:left; text-align:right; margin-right:6px;}
        div.darkbox-cont .login-box input[type="checkbox"]{margin:0px 8px 0px 0px;}
        div.darkbox-cont .login-box input[type="email"],div.darkbox-cont .login-box input[type="password"] {background-color:#fff; border:solid #CACACA 1px; color:#666; font-size:1em; width:340px; margin:0px 0px 20px 0px; padding:10px 10px; float:left;}
        div.darkbox-cont .login-box input[type="checkbox"]{ margin:6px 6px 10px 72px;}

        div.darkbox-cont .login-box div{ width:180px; margin:0px auto; overflow:hidden;}

        div.darkbox-cont .login-box input[type="submit"]{ background:#418BCA; width:88px; padding:12px 0px; border:solid #397EB7 1px; color:#fff; text-align:center; cursor:pointer; float:right; }
        div.darkbox-cont .login-box input[type="button"]{background:#fff; display:block; width:86px; padding:12px 0px; border:solid #CACACA 1px; color:#666; text-align:center;float:left;cursor:pointer;}

        div.darkbox-cont .login-box a{ margin-left:116px; color:#6091BA; text-decoration: underline;}

/*-----------WHY-----------*/
    div.darkbox-cont .why-box{ width:440px; height:240px; background:#2E2E2E; margin:100px auto 50px auto; padding:30px;
    -moz-border-radius-:10px;-ms-border-radius-:10px;-webkit-border-radius:10px; border-radius:10px;border-radius:10px;
    box-shadow: 6px 5px 15px #000000; display:none; color:#fff; position:relative;
    }
        div.darkbox-cont .why-box a{ display:block; width:17px; height:18px; position: absolute; top:12px; right:12px; background-image:url(../img/close-black.png);}
        div.darkbox-cont .why-box h2{ text-align:center; font-size:18px;}
        div.darkbox-cont .why-box p{ text-align:justify; font-size:14px; margin-top:20px;}

/*-----------QUICK-----------*/

    div.darkbox-cont .quick-box{ width:440px; height:360px; background:#fff; margin:100px auto 50px auto; padding:30px;
    -moz-border-radius-:10px;-ms-border-radius-:10px;-webkit-border-radius:10px; border-radius:10px;border-radius:10px;
    box-shadow: 6px 5px 15px #000000; border-left:solid 4px #6091BA; border-top: solid 4px #6091BA; display: none;
    }
        div.darkbox-cont .quick-box h2{ text-align:center; font-size:18px;}
        div.darkbox-cont .quick-box ul{ margin:24px auto 14px auto; overflow:hidden;}

        div.darkbox-cont .quick-box label{padding:13px 0px; display:block; width:66px; float:left; text-align:right; margin-right:6px;}
        div.darkbox-cont .quick-box input[type="email"],div.darkbox-cont .quick-box input[type="text"],div.darkbox-cont .quick-box input[type="tel"]  {background-color:#fff; border:solid #CACACA 1px; color:#666; font-size:1em; width:340px; margin:0px 0px 20px 0px; padding:10px 10px; float:left;}
        div.darkbox-cont textarea{ width:356px; height: 80px;resize: none;}

         div.darkbox-cont .quick-box div{ width:180px; margin:0px auto; overflow:hidden;}
        div.darkbox-cont .quick-box input[type="submit"]{ background:#418BCA; width:88px; padding:12px 0px; border:solid #397EB7 1px; color:#fff; text-align:center; cursor:pointer; float:right; }
        div.darkbox-cont .quick-box input[type="button"]{background:#fff; display:block; width:86px; padding:12px 0px; border:solid #CACACA 1px; color:#666; text-align:center;float:left;cursor:pointer;}


/*-----------CONTACT US-----------*/

.white-box-small #contact-us { width:280px; float: left;}
.white-box-small #contact-us input[type=text],.white-box-small input[type=email],.white-box-small input[type=tel] { width:246px; height:30px; border:solid 1px #CCC; padding:0px 1em; margin-bottom:18px; }
.white-box-small #contact-us h4{ margin-bottom:8px;}

.white-box-small #contact-us select{width:272px; height:32px; border:solid 1px #CCC; padding:0px .5em;margin-bottom:18px;}
.white-box-small #contact-us textarea{width:258px; height:84px; border:solid 1px #CCC; padding:8px .5em;margin-bottom:18px;resize: none;font-family: 'Open Sans', sans-serif;}
.white-box-small #contact-us input[type="submit"]{background:#418BCA; width:104px; height:34px; border:solid #397EB7 1px; color:#fff; text-align:center; cursor:pointer; }
.white-box-small #contact_us input[type="submit"]{background:#418BCA; width:104px; height:34px; border:solid #397EB7 1px; color:#fff; text-align:center; cursor:pointer; }
#contacto {background:#418BCA; width:104px; height:34px; border:solid #397EB7 1px; color:#fff; text-align:center; cursor:pointer; }

.white-box-small .mini-aside{color:#444; padding:8px 0px 10px 10px; width:170px; float:left; margin-left:36px;
    border-top-left-radius:10px; -moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px;
    border-left:solid 4px #6091BA; }
.white-box-small h6{ font-size:16px;margin-bottom: 16px;}
.white-box-small ul li{ margin-bottom:10px; font-size:13px; background-image:url(../img/phone-icon.png); background-repeat:no-repeat; background-position:left center;padding-left: 18px;}
.white-box-small ul li:last-child{ margin-top:28px; margin-bottom:0px;}
.white-box-small img.map{ margin:22px 0px 0px 0px;}




/*----------- CALCULADORA -----------*/

#flete select{width:272px; height:32px; border:solid 1px #CCC; padding:0px .5em;margin-bottom:18px; font-size: 14px; color: #333}






/*----------- REGISTER /  PROFILE -----------*/

ul.register{ width:100%; overflow:hidden; margin-bottom:10px;}
ul.register li{ display:block; float:left; margin-bottom:18px;}
ul.register li label{ font-weight:bolder; margin-bottom:8px;}
ul.register li label span{color:#CC0000; font-size:10px;}

ul.register .reg1{ width:100%;}
ul.register .reg2{ width:48.5%; margin-left:14px}
ul.register .reg3{ width:31.9%; margin-left:2%;}

ul.register li input[type=text]{ width:96%; height:28px; padding:0px 1%; margin-top:8px;}
ul.register li input[type=password]{ width:97%; height:28px; padding:0px .9%; margin-top:8px;}

ul.register li.first{margin-left:0px;}

.action-line{width:349px; height:31px; position: absolute; top:78px; right:16px;}
.action-line .dot{ width:31px; height:31px; float:left; }
.action-line .line{ width:31px; height:31px; width:128px; float:left;  background-repeat:no-repeat; background-position:center;}

.action-line .step-dotoff{ background-image:url(../img/register-dot-off.png);}
.action-line .step-lineoff{ background-image:url(../img/register-line-off.png);}
.action-line .step-dotactive{ background-image:url(../img/register-dot-on.png);}
.action-line .step-lineactive{ background-image:url(../img/register-line-on.png);}

.profile-nav{width:318px; height:31px; position: absolute; top:8px; right:18px;}
.profile-nav li{ float: left;}
.profile-nav li img{width:30px; height:auto;}
.profile-nav li a{ display: block; width:106px; text-align: center;}
.profile-nav li a p{ font-size:10px; margin: 0px;}

#register-panel, #shipment-panel{min-height: 342px; position:relative;}

#changepass-panel{min-height: 318px; position:relative; width:50%;}

.reg-next{ width:56px; display:block; background-color:#418BCA; color:#fff; padding:12px 22px 12px 6px; text-align:center; position:absolute; bottom:0px; right:0px; cursor:pointer;
background-image:url(../img/arrow-fdw.png); background-repeat: no-repeat; background-position: 56px 10px;}

.reg-nextESP{ width:68px; display:block; background-color:#418BCA; color:#fff; padding:12px 22px 12px 6px; text-align:center; position:absolute; bottom:0px; right:0px; cursor:pointer;
background-image:url(../img/arrow-fdw.png); background-repeat: no-repeat; background-position: 74px 10px;}

.reg-back{ width:56px; display:block; background-color:#418BCA; color:#fff; padding:12px 6px 12px 22px; text-align:center; position:absolute; bottom:0px; left:0px; cursor:pointer;
background-image:url(../img/arrow-back.png); background-repeat: no-repeat; background-position: 10px 10px;}

.edit-save{ width:56px; display:block; background-color:#418BCA; color:#fff; padding:12px 22px 12px 6px; text-align:center; position:absolute; bottom:0px; right:0px; cursor:pointer;
background-image:url(../img/save-icon.png); background-repeat: no-repeat; background-position: 56px 10px;}

.edit-saveESP{ width:66px; display:block; background-color:#418BCA; color:#fff; padding:12px 22px 12px 6px; text-align:center; position:absolute; bottom:0px; right:0px; cursor:pointer;
background-image:url(../img/save-icon.png); background-repeat: no-repeat; background-position: 70px 10px;}

.reg-show{ width:56px; display:block; background-color:#3A4F61; color:#fff; padding:12px 24px 12px 6px; text-align:center; position:absolute; bottom:0px; right:0px; cursor:pointer;
background-image:url(../img/showtable.png); background-repeat: no-repeat; background-position:right 6px top 10px;}


.reg-step01{  position: relative; padding-bottom:42px;}
.reg-step02{ display:none; position: relative; padding-bottom:42px;}
.reg-step03{ display:none; position: relative; padding-bottom:42px;}

#register-panel .radio-list{margin:0px 0px 30px 0px; width:100%;}
#register-panel .radio-list tr td{ width:106px; height:24px; vertical-align:middle; }
#register-panel .radio-list tr td:first-child{width: auto;padding-right:20px;}

#register-panel .typicalsizes{ margin-bottom: 30px; width:50%;}
#register-panel .typicalsizes tr td{ width:106px; height:34px; vertical-align:middle; }

table#track_head {
    width: 70%;
}

table#track_head tr td:first-child{
    width: 35%;
    height: 25px;
}

table#track_detail{
    margin-top: 30px;
    width: 100%;
}

table#track_detail thead tr td{
    width: 25%;
    height: 30px;
    text-align: center;
    border: solid 1px #ccc;
    border-bottom: solid 2px #114F81;
    vertical-align: middle;
    color: #677B84;
}

table#track_detail tbody tr td{
    width: 25%;
    height: 30px;
    text-align: center;
    border: solid 1px #ccc;
    vertical-align: middle;
    color: #666666;
}

table#sea_track_detail{
    margin-top: 30px;
    width: 100%;
}

table#sea_track_detail thead tr td{
    height: 30px;
    text-align: center;
    border: solid 1px #ccc;
    border-bottom-width: 2px;
    border-bottom-color: #114F81;
    vertical-align: middle;
    color: #677B84;
}

table#sea_track_detail tbody tr td{
    height: 30px;
    text-align: center;
    border: solid 1px #ccc;
    vertical-align: middle;
    color: #666666;
}

.print_button {
    margin-top: 20px;
    float: right;
    padding: 0px;
}

/*********** Cotizacion ************/

.panel{
    width: 100%;
    min-height: 100px;
    height: auto;
    float: left;
    margin: 5px;
    font-size: 9pt;
    background-color: #fff;
    padding: 1em 10px 1em 10px;
    border-bottom: 2px solid #ccc;
}

.panel header{ text-align: center; background-color: #3F6B90; color:#fff; width:680px; margin:0 auto 1em auto; padding:8px 0px; font-size:16px;}

.panel table {
    width: 680px;
    margin: 10px;
}

.panel table tr td {
    height: 30px;
    text-align: left;
    vertical-align: middle;
}

.panel table tr:last-child() td{ padding-bottom:1em; border-bottom:2px solid #ccc;}

.panel table tr td input[type=text] {
    width: 90%;
}

.panel table tr th {
    height: 30px;
    text-align: left;
    vertical-align: middle;
}

.head_panel{
    text-align:center;
    margin-bottom: 7px;
    margin-right: 10px;
    background-color: #00387D;
    color: #ffffff;
}

.panel table tr th{
    width: 40%;
    padding-left: 15px;
}
.panel table tr td select{
    height: 23px;
    border: solid 1px #AAAAAA;
    width: calc(90% + 4px);
}

table#containers tr td select{
    height: 23px;
    border: solid 1px #aaa;
    width: 50px;

}


.panel table:first-child tr th,
.panel table:nth-child(2) tr th{

    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
}



#formulario input[type=text]{
    width:180px;
    height:28px;
    padding:0px 1%;
    margin-top:8px;
    margin-right: 15px;
}

#formulario table tr th{text-align: left}

.celda_n {
    text-align: left !important;
    background-color:#808080;
    color: #FFffFF;
    border-radius: 15px;
    height: 10px;

}
.ruta{
    padding: 10px 0px 0px 0px !important;
}

.ruta .form-group{
    height: 35px;
    line-height: 16px;
    font-size: 13px;
}

.ruta .form-group label{
    margin-top: 5px;
}
.ruta .form-group input{
    height: 28px;
    margin-top: 8px;
}
.ruta .form-group input{
    font-size: 13px;
}
.fr{
    font-size: 12px !important;
}

.fr input,button{
    height: 24px;
    line-height: 0px !important;
}

.tarifas{
    text-align: center;
    font-size: 12px;
    color: #212121;
}

table.tarifas thead{
    background: #9acfea;
    color: #2B2B2B;
}
.btnSig{
    background-color: #418BCA;
    color: #fff;
    border-style: none;
    margin: auto;
    width: 48%;
    margin: 20px 0px;
    float: left;
}

table.tc{
    width: 300px;
    margin: 0px;
    padding: 0px
}

table.tc tr td{
    height: 20px;
}

.tc_lb{
    width: 50px;
    text-align: left;
    float: left;
    font-weight: bold;
}
.tc_cal{
    width: 100px;
    text-align: left;
    float: left;
}
.tc_tot{
    width: 100px;
    text-align: left;
    float: left;
}


input[type=radio].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left:21px;
    height:18px; 
    display:inline-block;
    line-height:18px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:18px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -18px;
}
label.css-label {
    background-image:url(../img/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.goBoton {
    background-color: #F5F5F5;
    background-image: url(../img/go-box.png);
    background-position:center right;
    background-repeat: no-repeat;
    border: none;
    color: #454545;
    padding: 0px 20px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.atras_form{
    display: block;
background-color: #418BCA;
    color: #fff;
    border-style: none;
    width: 48%;
    margin: 20px 0px;
    float: left;
    text-align: center;
    padding: 5px 0px;
}