html { height: 100%}
body { background: #ffffff; margin: 0px 0px; height: 100%}
/********************************************************************************/
/*  HOME                                                                        */
/********************************************************************************/
.fondo{ width: 100%; height:500px;
        background-image: url("../imgs/logoFondo.png");
        background-repeat: no-repeat;
        background-position: 50% 150px;
}
.caja   { width: 100%; height: 50px}
#idioma { width: 92px; height: 60px; background-color: #2FB49B; position: absolute; left: 10px; top: 10px}
#social {
        width: 150px;
        height: 43px;
        float: right;
        position: absolute;
        right: 10px;
        top: 10px;
}
#tw     { width:43px; height: 43px; background: url("../imgs/btn-tw.png"); float: left; margin-right: 10px}
#fb     { width:43px; height: 43px; background: url("../imgs/btn-fb.png"); float: left; margin-right: 10px}
#in     { width:43px; height: 43px; background: url("../imgs/btn-link.png"); float: left}
#titulo { width:300px; height: 41px; background: url("../imgs/titulo.png"); margin: auto; margin-top: 170px}
#menuHome   { width: 290px; height: 10px; background: url("../imgs/menuHome.png"); margin: auto; margin-top: 12px}
#nuevo      { width: 62px; height: 10px; float: left}
#portafolio { width: 84px; height: 10px; float: left}
#nosotros   { width: 73px; height: 10px; float: left}
#contacto   { width: 70px; height: 10px; float: left}
/********************************************************************************/
/*                                                                          */
/********************************************************************************/
.header { margin: 0px 0px !important;background-color: #2FB49B}
.mg     {margin: 0px 0px !important}
.imgNuevo{ height: 100px; width: 100%; border: #2FB49B 1px solid; margin-top: 8px}
.textNuevo { height: 40px; width: 100%; border: #2FB49B 1px solid; background-color: #2FB49B; margin-bottom: 6px}


.tituloNuevo { color: #2FB49B}
.imgNuevoDt    { background-color: #282828; height: 200px;}
.textNuevoDt   { color: #101010; background-color: #ffffff; border: none; display: table-cell}

.ptfB { width: 46%; height: 240px; float: left; background-color: #2FB49B; margin: 5px 5px}
.ptfS { width: 46%; height: 115px; float: left; background-color: #3c763d; margin: 5px 5px}

.contacto   { padding: 10px 0px; color: #FFF; height: 450px; background-image: url('../imgs/bg.png'); background-size: cover;}

.campo  {   height: 30px;
            background-image: url("../imgs/linea-campos.png");
            background-repeat: no-repeat;
            background-position: 0px 27px;
            margin: auto;
            margin-top: 20px;
        }
.campoFr{ background: transparent; border: none; min-width: 190px }

.campoText  {   height: 30px;
                background: transparent;
                margin: auto;
                margin-top: 0px;
            }


.nosotros   { width: 100%; background: #ffffff; height: 400px}

.swiper-item { padding-top: 10px; text-align: center; height: 300px; background-color: #FFFFFF; font-size: .4em; line-height: 8px}
.swiper-item img { width: 60%}

#menu   { background-image: url("../imgs/fondoMenu.png"); background-repeat: repeat-y;position: absolute; top: 0px; left: 0px; width: 0px; z-index: 10; overflow: hidden;height: 400px}
#listaMenu  { width: 133px; height: 400px;   background-image: url("../imgs/menu.png"); margin-left: 5px ; padding-top: 15px}
.OpMenu { width: 100%; height: 30px; margin-top: 51px}

.ps { color: #212121; font-weight: bold}
.ct { margin-left: 40px; font-size: 12px; color: #00389D}

#t_precios thead tr:first-child td:nth-child(2n+0){ background: #C5CCE1  } /*#b2dba1*/
#t_precios thead tr:first-child td:nth-child(2n+1){ background: #C5CCE1  }

.tarifas  td {
   padding: 3px !important;
}

/*
t.id_ruta,
t.id_proveedor,
t.validity,
t.transit,
t.fecha_base,
t.frecueny,
t.currecny,
t.import_services,
t.bl_fee,
t.handling,
t.thcd,
t.d_o,
t.gate_in,
t.export_services,
t.gate_out,
t.insurance,
t.other_charges,
t.limit_days,
t.doc_limit_day,
t.precio_20,
t.bsc_20,
t.isp_20,
t.tho_20,
t.other_20,
t.precio_40,
t.bsc_40,
t.isp_40,
t.tho_40,
t.other_40,
t.precio_hr
t.bsc_hr
t.isp_hr
t.tho_hr
t.other_hr
t.precio_nor
t.bsc_nor
t.isp_nor
t.tho_nor
t.other_nor
t.estatus


*/






